<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/index.js"></script>
    <!-- 引入bootstrap支持-->
    <link rel="stylesheet" href="/static/js/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/static/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="page_header">
            <h1>用户信息管理系统 <small>用户数据管理平台 py1705</small></h1>
        </div>
    </div>
</body>
</html>